
html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    background-color: black;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header img {
    height: 50px;
    padding: 10px;  
}

a{
    color: seashell;
    padding: 20px 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

.main {
    padding: 0 45px;
    margin-top: 70px;
}

#mission{
    height: 700px;
    padding: 0;
    background: url("../img/img-mission-background.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#mission h2, #mission h4 {
    margin: 13px;
}
.content {
    margin: auto;
    background-color: black;
    width: 100%;
}

.store h2 {
    margin-top: 75px;
    padding: 0;
}

.store {
    width: 1000px;
    margin: 0 auto;
}

.item img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.item {
    padding: 5px;
    width: 300px;
    align-items: center;
}

.item span {
    display: block;
    padding: 5px;
    text-align: center;
    width: 350px;
}


.locations {
    background: url("../img/img-locations-background.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 75px;
    padding-top: 70px;
}

.location {
    width: 300px;
    background: black;
    opacity: 1;
    padding-top: 0;
    height: 275px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

p{
    padding: 5px 0;
}

.locations h2 {
    margin: 0;
}

footer h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

footer {
    height: 200px;
}

.copyright {
    text-align: left;
    margin-left: 20px;
}